.txt {
  color: #3F3A3A;
}
.title {
  font-weight: 600px;
  font-size: 48px;
  border-left: #EFC81A solid 22px;
  padding: 30px;
  margin-bottom: 100px;
}
.subtitle {
  font-size: 56px;
}
.description {
  font-size: 24px;
}
.button-more {
  color: #ffffff;
  background-color: #EFC81A;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 150px;
  border: 0;
  border-radius: 5px;
}
.more {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 150px;
  border-radius: 5px;
}


.image-home {
  width: 730px;
  height: auto;
  margin-right: 350px;
}

@media (max-width: 1440px) {
  .subtitle {
    margin-top: 20px;
    font-size: 50px;
  }
  .description {
    font-size: 20px;
  }
  .more {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    border-radius: 5px;
  }
  .image-home {
    width: 500px;
    margin-right: 190px;
  }
  .margin-home {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .title {
    font-weight: 600px;
    font-size: 38px;
    border-left: #EFC81A solid 15px;
    padding: 30px;
    margin-bottom: 60px;
  }
  .subtitle {
    margin-top: 20px;
    font-size: 30px;
  }
  .description {
    font-size: 20px;
  }
  .more {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    border-radius: 5px;
  }
  .image-home {
    position: absolute;
    left: 35px;
    width: 300px;
  }
  .margin-home {
    margin-top: 310px;
  }
}